html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
dl,dt,dd,ul,li{margin: 0px; padding: 0px;}
ul{list-style: none;}
.hide{display: none;}
.clear{ clear: both}
/*@font-face
{
font-family: huaweikaiti;
src: url(../font/huawenxingkai.ttf);
}*/
/*大的背景图*/
/*.bg{width:100%; background:url(../img/bg.png) bottom no-repeat; margin:0 auto;}*/
/*介绍*/
/*.bg img{
	width:218px;height:259px; margin-left:400px;margin-top:700px;	
}*/
.bg_kong{ width:10px;height:20px;}
.hand_img{ width:640px; height:420px;text-align:center;}
.title_img{width:640px; height:464px;text-align:center;}
.wenzi{width:640px; height:830px; background:url(../img/small_img.png);margin-top:10px; color:#FFF;font-family:huaweikaiti;}
.wenzi_1{ width:520px; margin:0 auto;}
.wenzi_1 h1{font-size:25pt; line-height:35pt;}
.wenzi_1 div{font-size:20pt;line-height:30pt;color:#c3c2c2}
.wenzi_margin_top{margin-top:20px;}

.jinxingshi,.jinxing_over{width:640px; height:147px;text-align:center;}

.voteList{width:560px;; margin:0 auto;margin-top:20px; overflow:hidden;  }
.list_da{width:560px;height:220px;overflow:hidden;}
.list_da_left{width:260px;height:220px; float:left;margin-left:20px;}
.list_img{width:100px;height:100px;float:left;}
.list_zi{float:left;font-family:huaweikaiti; font-size:24px;margin-left:5px;color:#FFF;line-height:35px;}
.erweima{width:640px; height:147px;text-align:center;}

.mui-scroll{
	transform: translate3d(0px, 0px, 0px) translateZ(0px); transition-duration: 0ms; transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);!important;
}
